          <header class="header navbar-fixed-top">
              <nav class="navbar" role="navigation" id="navbarmain">
                <div class="container">
                      <div class="menu-container js_nav-item">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                          <div class="logo">
                            <a class="logo-wrap" href="#body">
                            <h2><span class="label">C-FARMIS</span></h2>
                            <!--
                                <img class="logo-img logo-img-main" src="<?=base_url('theme/flame');?>/img/logo.png" alt="FlameOnePage Logo">
                                <img class="logo-img logo-img-active" src="<?=base_url('theme/flame');?>/img/logo-dark.png" alt="FlameOnePage Dark Logo"> -->
                            </a>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse nav-collapse">
                    
                    <!-- div class="language-switcher">
                      <ul class="nav-lang">
                        <li><a class="active" href="#">EN</a></li>
                        <li><a href="#">DE</a></li>
                        <li><a href="#">FR</a></li>
                      </ul>
                    </div- --> 
                    
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-right">
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="<?=site_url();?>">Home</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="<?=site_url('post');?>">About</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#products">Products</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#products">Plantations</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#services">Services</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Contact</a></li>
                                <?php
                                if($this->Authorization->authorized()){
                                    ?>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="<?=site_url('logout');?>">Logout</a></li>

                                    <?php }else{
                                         ?>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="<?=site_url('login');?>">Login</a></li>
                                         <?php
                                    }
                                 ?>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            </header>