html{
	background-color: rgba(0,0,0,.80);
}
body{
	background-color: #fff;
	background-image: url(http://www.thesis.hub:8000/public/images/books.jpg);
	min-height: 100vh;
}
.container{
	background-color: #fff;
}
.container.u-profile .row{
	margin-bottom: 2px;
}
.container .divider-10{
	min-height: 10px;
}
.container .divider-20{
	min-height: 20px;
}
.container .divider-50{
	min-height: 50px;
}
.container .form-control{
	border-color: #568793;
}
.container .form .btn{
	border-color: #568793;

}
.container .form-control:focus{
	border-color: magenta;
}
.container .form .btn:hover{

}
.search-sidebar{
	min-height: 75vh;
}
#search-top-menu{
	margin: 0;padding: 0;
}
#search-top-menu >.bisu-logo  {

	background-color: rgba(0,0,0,.9);
	margin: 0;
}
#search-top-menu > .bisu-logo a img{
	max-height: 55px;
}
#search-top-menu >.bisu-logo > div.menus{
padding: 15px;
}
#search-top-menu >.bisu-logo > div.menus a{
color: #fff;
top: 50px;
padding: 10px;
height: 50px;
font-size: 1em;
text-decoration: none;
}

#search-logo{
	padding: 10px;
	background-color: rgba(255,255,255,.5);
	top:25%;
	text-align: center;
}
#search-logo > a > img{
	height: 80px;
	width: 400px;
}
#search-content,.search-content{
	padding: 10px;
	background-color: rgba(255,255,255,.5);
}
#search-content > .panel > .panel-body input{
	min-width: 80%;
}
#search-content > .panel > .panel-body select{
	min-width: 10%;
}
#search-content .output{
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;

}

#search-content .output p{
	max-height: 50px;
	overflow: hidden;
}

#search-content > .output > table{
	position: relative;
}
.permit-group{
	padding: 2px;
	min-height: 100px;
}
.permit-group > .item{
	padding: 20px;
	background-color: dodgerblue;
	color: #fff;
	min-height: 125px;
}
.navbar-form{
	display: inline-block;
}
.navbar-inverse{

    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#054185, #a5036a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#054185, #a5036a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#054185, #a5036a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#054185, #a5036a); /* Standard syntax */
    border-color: #046ee5;
    border-radius: 1px;
}
ul.find-userlist{
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin-top: -10px;
	border: solid 1px #e4e4e4;
}
ul.find-userlist > li{
	background-color: #fff;
	padding: 5px;
	color: #0686e9;
}
ul.find-userlist > li:hover{
	background-color: #747b80;
	color: #fff;
	font-weight: bolder;
}
.big-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
     border-top: 16px solid lime;
 	border-bottom: 16px solid lime;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 768px) {
    #search-logo > a > img {
    	margin-top: 0px;
    	max-height: 50px;
    	width: 150px;
	}	
	html,body{
		min-width: 325px;
		background-image: url(http://www.thesis.hub:8000/public/images/books.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	#search-top-menu >.bisu-logo > div.menus a{
		padding: 5px;
	}
	
	.search-sidebar{
		display: none;
	}
	.navbar-form{
		margin: 3%;
	}
	.inbox-right{
		display: none;
	}
}	
@media only screen and (max-width: 568px) {

	#search-top-menu >.bisu-logo > div.menus a span{
		display: none;
	}
	#search-top-menu >.bisu-logo > div.menus a{
		padding: 10px;
	}

@media only screen and (max-width: 468px) {

	#search-top-menu >.bisu-logo > div.menus a{
		padding: 5px;
	}
}

}